[Unit]
Description=Timer in order to download certificates from s3

[Timer]
OnCalendar=monthly 
AccuracySec=10min
Persistent=true

[Install]
WantedBy=multi-user.target
