[Unit]
Description=certbot-s3

[Service]
Type=idle
User=root
EnvironmentFile=/etc/default/certbot-s3
ExecStartPre=/bin/bash -c '[ -n "${S3_PREFIX}" ] || { echo "Variable S3_PREFIX not set in /etc/default/certbot-s3"; exit 1; }'
ExecStartPre=/bin/bash -c '[ -n "${DOMAIN}" ] || { echo "Variable DOMAIN not set in /etc/default/certbot-s3"; exit 1; }'
ExecStart=/bin/bash -xc 'aws s3 sync "${S3_PREFIX}/${DOMAIN}/" "/etc/ssl/private/${DOMAIN}" --exact-timestamps'
ExecStartPost=/bin/systemctl reload nginx.service
