[Unit]
Description=certbot-s3

[Service]
Type=idle
User=root
EnvironmentFile=/etc/default/certbot-s3
ExecStart=/bin/bash -c '`which aws` s3 sync $S3_PREFIX/$CERT_DOMAIN/ /etc/ssl/private/$CERT_DOMAIN --exact-timestamps'
ExecStartPost=/bin/systemctl reload nginx.service
